<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class=" card-box">
        <div class="panel-heading">
            <h3 class="text-center"> Reset Password </h3>
        </div>

        <div class="panel-body">
            <form method="post" action="#" role="form" class="text-center">
                <div class="alert alert-info alert-dismissable" *ngIf="!errorAlert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        ×
                    </button>
                    Enter your <b>Email</b> and instructions will be sent to you!
                </div>
                <div class="alert alert-danger alert-dismissable" *ngIf="errorAlert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        ×
                    </button>
                    <b>Email</b> does not exist!
                </div>
                <div class="form-group text-left m-b-0"
                     [ngClass]="emailError ? 'has-error' : ''">
                    <div class="input-group">
                        <input type="email" class="form-control" (input)="validate(email)" [(ngModel)]="email"
                               [ngModelOptions]="{standalone: true}"
                               placeholder="Enter Email" required="">
                        <span class="input-group-btn">
                            <button type="button"
                                    [disabled]="emailError || !email"
                                    (click)="submit()" class="btn btn-pink w-sm waves-effect waves-light">
                                Reset
                            </button>
                        </span>
                    </div>
                    <span *ngIf="emailError" class="email-error">*Please enter a valid email.</span>
                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <p>
                Go to <a routerLink="/login" class="text-primary m-l-5"><b>Sign In</b></a>
            </p>
        </div>
    </div>
</div>