<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class="card-box">
        <div>
            <div class="panel-heading">
                <h3>Enter new password</h3>
            </div>

            <div class="panel-body">
                <div class="col alert alert-danger" *ngIf="errorMessage" role="alert">
                    Please go back to "Forgot Password" page and fill your email address again!
                </div>
                <div class="col-12 alert alert-success" *ngIf="successMessage" role="alert">
                    You have successfully changed your <b>password</b>!
                </div>
                <form class="form-horizontal m-t-20" (submit)="changePassword()" *ngIf="!successMessage">
                    <div class="form-group"
                         [ngClass]="newPassword !== confirmNewPassword ? 'has-error' : ''">
                        <div class="col-xs-12">
                            <input type="password"
                                   [(ngModel)]="newPassword"
                                   name="password"
                                   class="form-control"
                                   placeholder="Enter Password"
                                   required="">
                        </div>
                    </div>
                    <div class="form-group"
                         [ngClass]="newPassword !== confirmNewPassword ? 'has-error' : ''">
                        <div class="col-xs-12">
                            <input type="password"
                                   [(ngModel)]="confirmNewPassword"
                                   name="confirmPassword"
                                   class="form-control form-control-danger"
                                   placeholder="Confirm Password"
                                   required="">
                            <span *ngIf="newPassword !== confirmNewPassword" class="email-error">
                                *Confirm password should be match the password
                            </span>
                        </div>
                    </div>
                    <span class="input-group-btn">
                        <button type="submit"
                                [disabled]="!newPassword || !confirmNewPassword || newPassword !== confirmNewPassword"
                                class="btn btn-pink btn-block text-uppercase waves-effect waves-light">
                            Reset
                        </button>
                    </span>
                </form>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="successMessage">
        <div class="col-sm-12 text-center">
            <p>
                Go to <a routerLink="/login" class="text-primary m-l-5"><b>Sign In</b></a>
            </p>
        </div>
    </div>
    <div class="row" *ngIf="errorMessage">
        <div class="col-sm-12 text-center">
            <p>
                Go to <a routerLink="/reset-password" class="text-primary m-l-5"><b>Forgot Password</b></a>
            </p>
        </div>
    </div>
</div>